.faq{
  position: relative;
  background: #212425;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  color: #f0f0f0;
  &__wrap{
    padding: 3rem 4.5%;
  }
  .question{
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 24px 0 24px 0;
    h3{
      cursor: pointer;
      font-size: 27px;
      color: #f0f0f0;
      font-weight: 600;
      @media (min-width: 650px){
        font-size: 22px;
      }
    }
    &__wrap{
      display: grid;
      grid-template-columns: 26px auto;
      align-items: center;
      gap: 1rem;
    }
    &__answer{
      font-family: sans-serif;
      font-size: 20px;
      margin: 20px 0;
      max-width: 40em;
      color: #f0f0f0;
      padding-left: 40px;
      transition: all 0.3s ease-in-out;
      display: none;
    }
    &__status{
      width: 26px;
      height: 26px;
      background: transparent;
      border: 3px solid #f0f0f0;
      border-radius: 50%;
      margin-top: 2px;
      transition: all 0.3s ease-in-out;
      @media (min-width: 650px){
        width: 24px;
        height: 24px;
      }
    }
    &.open .question__answer{
      display: block;
    }
    &.open .question__status{
      background: red;
      outline: 2px solid burlywood;
      outline-offset: 3px;
    }
  }
}
.section__header-title{
  padding: 0;
  color: red;
}
.section__header-subtitle{
  padding: 0;
  color: burlywood;
}